@charset "UTF-8";
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

/*footer*/
footer {
  position: relative;
  background-color: #398175;
  color: #F8DD6C;
  padding: 20px;
  z-index: 1000;
}
footer footer div ul {
  display: inline;
}

.whatsapp {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 0;
  top: 90%;
  right: 0;
  left: 93%;
  z-index: 999;
}

header nav ul li {
  display: inline;
  margin: 0.3rem;
}

.header {
  background-color: #398175;
}

.fondoim-header {
  background-image: url(../img/Sin-título-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*navbar*/
.navbar-modified {
  background-color: transparent;
}

.nav-link-modified {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.active-modified {
  color: #F8DD6C;
}

/*agregando animaciones*/
.cajas {
  transition: all 2s;
}

.cajas:hover {
  transform: scale(0.9);
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

input {
  transition: all 1s;
}

input:focus {
  background-color: #F8DD6C;
}

.animacion:hover {
  animation: cambioColor 3s;
}

@keyframes cambioColor {
  0% {
    color: #398175;
  }
  25% {
    color: #F8DD6C;
  }
  50% {
    color: black;
  }
  100% {
    color: #398175;
  }
}
/*generales*/
.textEspace {
  text-align: center;
  line-height: 1.5rem;
}

.font {
  font-family: "Montserrat", sans-serif;
}

.text-align {
  text-align: center;
}

ul {
  list-style-type: none;
}

/*margenes*/
.divPaddindg {
  padding: 4rem;
}

.divMargin {
  margin-top: 1.5rem;
}

.divMarginMobile {
  margin-top: 0px;
}

/*flex*/
.linea {
  display: inline-block;
}

/*botones*/
.botones {
  border: 3px solid #398175;
  border-radius: 15px;
  padding: 5px;
  background-color: #398175;
}

.botonMargin {
  margin: 2rem;
}

/*tamaño img*/
.imgSizeLogo {
  max-width: 30%;
}

.imageSizeIcon {
  max-width: 12%;
  margin-bottom: 20px;
}

.imageSize {
  width: 100%;
}

.imageBorder {
  margin-top: -40px;
  border: 5px white solid;
}

.imgSizeIconos {
  width: 1rem;
  height: 1rem;
}

/*ordenando cajas*/
.containerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerRowTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cajas {
  width: 18rem;
  background-color: #F8DD6C;
  border-radius: 5%;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*formulario*/
label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}

input {
  background-color: #398175;
  border-radius: 15px;
  border-color: white;
  color: white;
  padding: 8px;
  margin: 10px;
}

.formulario-back {
  background-image: url(../img/Sin-título-4.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*colores*/
.color-marca {
  color: #398175;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #F8DD6C;
}

.color-amarillo {
  color: #F8DD6C;
}

.backAmarillo {
  background-color: #F8DD6C;
}

.formulario-blanco {
  color: white;
}

.degradado {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #f8dd6c 100%);
}

/*nosotras marcas*/
.marcasDesktop {
  width: 90%;
  height: fit-content;
}

.marcasMobile {
  display: none;
}

.fotoMobile {
  display: none;
}

/*contacto formulario select*/
p::selection {
  background-color: #F8DD6C;
}

a::selection {
  background-color: #F8DD6C;
}

h1::selection {
  background-color: #F8DD6C;
}

h2::selection {
  background-color: #F8DD6C;
}

h3::selection {
  background-color: #F8DD6C;
}

h4::selection {
  background-color: #F8DD6C;
}

h5::selection {
  background-color: #F8DD6C;
}

img::selection {
  background-color: #F8DD6C;
}

label::selection {
  background-color: #F8DD6C;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

* {
  margin: 0px;
  padding: 0px;
}

.no-margin {
  margin: 0px !important;
  padding: 0px !important;
}

/*mobile*/
@media (min-width: 0) and (max-width: 768px) {
  .grid {
    justify-items: stretch;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }

  .divPaddindg {
    padding: 1rem;
  }

  .fondoim-header {
    background-image: url(../img/Sin-título-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  #formulario {
    display: block;
  }

  #info {
    text-align: center;
  }

  #marcas {
    background-color: #F8DD6C;
    padding: 1rem;
  }

  #img {
    width: 100%;
    height: 100%;
  }

  .marcasDesktop {
    display: none;
  }

  .marcasMobile {
    display: inline-flex;
    width: 70%;
    height: fit-content;
  }

  .fotoDesktop {
    display: none;
  }

  .fotoMobile {
    display: inline-flex;
    width: 100%;
    height: fit-content;
    align-items: center;
  }

  .whatsapp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 0;
    top: 70%;
    right: 0;
    left: 85%;
    z-index: 999;
  }

  .botones {
    padding: 3px;
  }

  #text-mobile {
    color: white;
  }

  .imageSize {
    width: 100%;
    margin-top: 0px;
  }

  .divMarginMobile {
    margin-top: 40px;
  }
}
/*tablet*/
@media (min-width: 768px) and (max-width: 992px) {
  .grid {
    justify-items: stretch;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .divPaddindg {
    padding: 1rem;
  }

  #info {
    text-align: center;
  }

  #img {
    width: 100%;
    height: 100%;
  }

  .marcasMobile {
    display: none;
  }

  .fotoMobile {
    display: none;
  }

  .whatsapp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 0;
    top: 75%;
    right: 0;
    left: 88%;
    z-index: 999;
  }

  .botones {
    padding: 2px;
  }

  .imageSize {
    width: 100%;
    margin-top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
