@import "../base/variables";

/*agregando animaciones*/
.cajas {
    transition: all 2s;
}
.cajas:hover{
    transform: scale(0.9);
    -moz-transform: scale(0.9) ;
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
}
input {
    transition: all 1s;
}
input:focus {
    background-color: $color-secund ;
}
.animacion:hover {
    animation: cambioColor 3s;
}
@keyframes cambioColor{
    0%{
        color: $color-ppal;
    }
    25%{
        color: $color-secund;
    }
    50%{
        color: black;
    }
    100%{
        color: $color-ppal;
    }

}