.textEspace {
    text-align: center;
    line-height: 1.5rem;
}
.font {
    font-family: 'Montserrat', sans-serif;
}
.text-align {
    text-align: center;
}
ul {
    list-style-type: none;
}
/*margenes*/

.divPaddindg {
    padding: 4rem;
}
.divMargin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.container {
    padding: 0% !important;
    margin: 0% !important;
}
/*botones*/
.botones {
    border:3px solid #398175;
    border-radius: 15px;
    padding: 5px;
    background-color: #398175;
}
.botonMargin {
    margin: 2rem;
}
/*tamaño img*/
.imgSizeLogo {
    max-width: 50%;
    max-height: 50%;
}
.imageSize {
    height: 100%;
    width: 100%;
}
.imgSizeIconos {
    width: 1rem;
    height: 1rem;
}
/*ordenando cajas*/
.containerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.containerRowTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.cajas {
    height: 21rem;
    text-align: center !important;
    background-color: #F8DD6C;
    border-radius: 5%;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.align-item {
    justify-content: center !important;
}

/*formulario*/
label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}
input {
    background-color: #398175;
    border-radius: 15px;
    border-color: white;
    color: white;
    padding: 8px;
    margin: 10px;
}
.formulario-back {
    background-image: url(../img/Sin-título-4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*colores*/
.color-marca {
    color: #398175;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #F8DD6C;
}

.color-amarillo {
    color: #F8DD6C;
}
.backAmarillo {
    background-color: #F8DD6C;
}
.formulario-blanco {
    color: white;
}
/*nosotras marcas*/
.marcasDesktop {
    width: 90%;
    height: fit-content;
}
.marcasMobile {
    display: none;
}
/*contacto formulario select*/
p::selection { 
    background-color: #F8DD6C;
}
a::selection { 
    background-color: #F8DD6C;
}
h1::selection { 
    background-color: #F8DD6C;
}
h2::selection { 
    background-color: #F8DD6C;
}
h3::selection { 
    background-color: #F8DD6C;
}
h4::selection { 
    background-color: #F8DD6C;
}
h5::selection { 
    background-color: #F8DD6C;
}
img::selection { 
    background-color: #F8DD6C;
}
label::selection { 
    background-color: #F8DD6C;
}