@import "../base/extends.scss";
@import "../base/mixin";

/*footer*/
footer {
    position: relative;
    @include colores (#398175,#F8DD6C);
    padding: 20px;
    z-index: 1000;
    @extend %disposicion;
        
    footer div ul {
        display: inline;
        margin: 0px !important;
    }    
    

}
.whatsapp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 0;
    top: 90%;
    right: 0;
    left: 93%;
    z-index: 999;
}