@import "../base/maps";

header nav ul li{
    display: inline;
    margin: 0.3rem;
}
.header{
    background-color: #398175 !important;
}
.fondoim-header {
    background-image: map-get($header, bg-image);
    background-repeat: map-get($header, bg-repeat);
    background-size: map-get($header, bg-size);
    background-position: map-get($header, bg-position);
}
/*navbar*/

.transparente {
    background-color: transparent !important;
}
#navbarSupportedContent {
    align-items: flex-end !important;
}
.nav-link{
    color: white !important;
}
.active {
    color: #F8DD6C !important;
}