header nav ul li{
    display: inline;
    margin: 0.3rem;
}
.header{
    background-color: #398175 !important;
}
.fondoim-header {
    background-image: url(../img/Sin-título-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/*navbar*/

.transparente {
    background-color: transparent !important;
}
#navbarSupportedContent {
    align-items: flex-end !important;
}
.nav-link{
    color: white !important;
}
.active {
    color: #F8DD6C !important;
}