@import "../base/maps";

header nav ul li{
    display: inline;
    margin: 0.3rem;
}
.header{
    background-color: $color-ppal;
}
.fondoim-header {
    background-image: map-get($header, bg-image);
    background-repeat: map-get($header, bg-repeat);
    background-size: map-get($header, bg-size);
    background-position: map-get($header, bg-position);
}
/*navbar*/

.navbar-modified {
    background-color: transparent;

}
.nav-link-modified{
    color: white ;
    padding-left: 10px;
    padding-right: 10px;
}
.active-modified {
    color: $color-secund;
}